<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>Game View</title>
    <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app" class="container">
        <div class="headlineAndTableContainer">
        <h1 class="headline">Game View</h1>
        <!-- <h2>{{gameInfo.gamePlayers[0].player.username}} vs {{gameInfo.gamePlayers[1].player.username}}</h2> -->
        
        <div class="tablesContainer">
            <div class="individualTable">
                    <h2 id="nameDisplayPL"></h2>
                <div>
                <table id="tablePlayer">
                    <tbody>
                        <tr class="gpRow">
                            <td v-for="column in columns" class="gridBox">{{column}}</td>
                        </tr>
                        <tr v-for="(row, counter) in rows" class="gpRow">
                            <td class="gridBox">{{row}}</td>
                            <td v-for="(row, index) in rows" class="gridBox" :id='getId(counter, index, "pl")'></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <div class="individualTable">
                    <h2 id="nameDisplayOPP"></h2>
                <div>
                <table id="tableOpponent">
                    <tbody>
                        <tr class="gpRow">
                            <td v-for="column in columns" class="gridBox">{{column}}</td>
                        </tr>
                        <tr v-for="(row, counter) in rows" class="gpRow">
                            <td class="gridBox">{{row}}</td>
                            <td v-for="(row, index) in rows" class="gridBox" :id='getId(counter, index, "opp")'></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>

    </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="game.js"></script>
</body>

</html>